*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Helvetica Neue", sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: linear-gradient(135deg, #f8dff4, #d2e0f9 );
    background-attachment: fixed;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

body::before{
    content: '';
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    background: linear-gradient(circle, rgba(255, 255, 255, 0.3) 10%, transparent 60%) repeat;
    background-size: 300px 300px;
    animation: float 30s linear infinite;
    z-index: 0;
}

@keyframes float{
    0% { transform: translate(0, 0);}
    100% { transform: translate(50px, 50px);}
}

.container{
    z-index: 1;
    padding: 20px;
    width: 90%;
    max-width: 400px;
    text-align: center;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 20px rgba(255, 255, 255, 0.1);
}

h1{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #5e5e5e;
    text-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}

a.button{
    display: block;
    background-color: #ffffffcc;
    color: #333;
    padding: 12px 20px;
    margin: 10px 0;
    text-decoration: none;
    border-radius: 12px;
    font-weight: bold;
    transition: all 0.3s ease;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

a.button:hover{
    background-color: #ffffffcc;
    transform: translateY(-3px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

a.button:active{
    background-color: red;
    transform: translateY(1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

@media (max-width: 480px) {
    h1{
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }
}